.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screen {
  position: relative;
}

.Button {
  position: absolute;
}

.Button.debug {
  background-color: red;
  color: white;
  text-decoration: none;
}
